.signup-title {
  position: fixed;
  display: block;
  justify-content: center;
  text-align: center;
  top: 25vh;
  left: 0;
  width: 100%;
}

.signup-form {
  position: fixed;
  display: block;
  justify-content: center;
  text-align: center;
  width: 100%;

  text-align: left;
  top: 40vh;

  font-size: 1rem;
  /* text-decoration: none !important; */
  color: var(--navbar-text-color);
  z-index: 3;
}
label {
  /* border: solid 1px black; */
  width: 40vw;
}
.form-row {
  /* border: solid 1px black; */
  display: flex;
  /* justify-content: space-between; */

  margin: 2vh;
}
