.AddEvent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 1rem;
}
.add-form {
  padding: 0 2rem;
  width: 25rem;
  max-width: 85vw;
}

.form-group {
  margin-bottom: 1rem;
  width: 90%;
}
