#comments-box {
  background-color: rgb(184, 187, 214, 0.3);
  border-radius: 7px;
  margin-top: 1rem;
  display: flex;
}

#comments-text {
  padding: 7px;
}

#avatar-box {
  padding: 5px;
  transform: scale(0.8);
}
