:root {
  --main-color: rgb(14, 18, 18);
  --second-color: rgb(245, 245, 245);
  --third-color: rgb(16, 0, 163);
  --navbar-color: rgb(253, 253, 253);
  --navbar-text-color: rgb(131, 129, 129, 0.815);
}
body {
  background-color: var(--second-color);
}
.App {
  color: var(--third-color);
  margin-top: 8vh;
  height: 81vh;
  padding: 0.5rem 0;
  position: relative;
  overflow-y: auto;
}
.container {
  width: 100%;
  margin: 0 auto;
  max-width: 800px;
}
