:root {
  --main-color: rgb(14, 18, 18);
  --second-color: rgb(245, 245, 245);
  --third-color: rgb(16, 0, 163);
  --navbar-color: rgb(253, 253, 253);
  --navbar-text-color: rgb(131, 129, 129, 0.815);
}
body {
  background-color: var(--second-color);
}
.App {
  color: var(--third-color);
  position: relative;
}
.container {
  position: absolute;
  top: 8vh;
  width: 100%;
  overflow-y: auto;
  height: 81vh;
}
