body {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.leaflet-container {
  margin: 0.5rem auto;
  width: 95%;
  max-width: 1200px;
  height: 40vh;
}
.leaflet-touch .leaflet-bar a {
  width: 20px;
  height: 20px;
  line-height: 20px;
}
